/* --------------- Fonts --------------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");


/* ------------ Common styles--------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}
.btn {
  padding: 13px 30px;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

/* -------------Banner section ----------*/
.banner {
  background: rgba(255, 144, 14, 0.1);
  padding-top: 30px;

  padding-bottom: 30px;
}

/* Navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 220px;
  padding-top: 50px;
  padding-bottom: 100px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-right: 26px;
  font-weight: 400;
}
nav .nav-bar-heading a {
  font-weight: 700;
  font-size: 33px;
}

/* banner descrpition */
.banner-about {
  display: flex;
  justify-content: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  text-align: center;
  row-gap: 30px;
}
.banner-content img {
  width: 100%;
  border-radius: 8px;
}
.banner-content .banner-title h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0;
}
.banner-container .banner-title p {
  color: #727272;
  margin: 0;
  padding: 10px;
}

/* -------------Feature section ----------*/
.features{
    padding: 85px 0;
}
.feature-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

    /* display: grid;
    grid-template-columns: repeat(4,1fr); */

}


.feature-images{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3px;
    column-gap: 3px;
    width: 30%;
    
}
.feature-description {
    
    width: 30%;



}


.feature-content .feature-images img{
width: 100%;
border-radius: 5px;
}