/* --------------- Fonts --------------- */
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
 */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
/* ------------ Common styles--------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}
.btn {
  padding: 13px 30px;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
p,
.ash-color {
  color: #727272;
}
.yellow-color {
  color: #ff900e;
}
/* -------------Banner section ----------*/
.banner {
  background: rgba(255, 144, 14, 0.1);
  padding-top: 30px;

  padding-bottom: 30px;
}

/* Navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 220px;
  padding-top: 50px;
  padding-bottom: 100px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-right: 26px;
  font-weight: 400;
}
nav .nav-bar-heading a {
  font-weight: 700;
  font-size: 33px;
}

/* banner descrpition */
.banner-about {
  display: flex;
  justify-content: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  text-align: center;
  row-gap: 30px;
}
.banner-content img {
  width: 100%;
  border-radius: 8px;
}
.banner-content .banner-title h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0;
}
.banner-container .banner-title p {
  margin: 0;
  padding: 10px;
}

/* -------------Features Quick List section ----------*/
.features-quick-list {
  padding: 85px 0;
}
.feature-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  width: 30%;
}
.feature-description {
  width: 30%;
}

.feature-content .feature-images img {
  width: 100%;
  border-radius: 5px;
}
.feature-content .feature-description h1 {
  font-weight: 500;
  font-size: 45px;
}

/* ----------Features container section----------- */
.features-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
}

.features-love-enjoy {
  width: 39%;
}
.features-container h2 {
  font-weight: 700;
  font-size: 39px;
  padding-left: 10px;
}
.verticalLine {
  border-left: thick solid #ff900e;
}
.box-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 5px;
}
.features-architect-image {
  width: 33%;
  padding-bottom: 3%;
}
.features-architect-image img {
  width: 100%;
}
.feature-experince {
  position: absolute;
  right: 32%;
  width: 14%;
  height: 12%;
  padding: 14px 14px;
  background: #ff900e;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  text-align: center;
}
.feature-experince h3 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
.feature-experince p {
  font-size: 18px;
  color: #ffffff;
  margin-top: 0;
}



/* -----------------some facts section ------------- */

.some-facts{
padding: 90px 0;

  display: grid;
grid-template-columns: 1fr 8fr 1fr;
}
.some-facts-container{
  grid-column: 2;
}

/* cards section  */

.cards{
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
}
.cards-container{
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.card{
  border: 2px solid #ff900e;
  border-radius: 5px;
  padding: 6px;
  width: 200px;
  height: 200px;
}
.card:hover{
  border: 2px solid #ff1e0e;
}
/* our sponsors section */
.our-sponsors{
padding: 90px 0;

  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.our-sponsors-container{
  grid-column: 2;
  text-align: center;
}
/* .sponsors images section */
.sponsors-images{
  padding: 40px 0px 90px;

  display: grid;
grid-template-columns: 1fr 8fr 1fr;
}
.sponsors-images-container{
  grid-column: 2;
  display: flex;
  justify-content: space-between;
}

/* footer section  */
footer{
  text-align: center;
}

