/* --------------- Fonts --------------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* ------------ Common styles--------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}
.btn {
  padding: 13px 30px;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
p,
.ash-color {
  color: #727272;
}
.yellow-color {
  color: #ff900e;
}
/* -------------Banner section ----------*/
.banner {
  background: rgba(255, 144, 14, 0.1);
  padding-top: 30px;

  padding-bottom: 30px;
}

/* Navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 220px;
  padding-top: 50px;
  padding-bottom: 100px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-right: 26px;
  font-weight: 400;
}
nav .nav-bar-heading a {
  font-weight: 700;
  font-size: 33px;
}

/* banner descrpition */
.banner-about {
  display: flex;
  justify-content: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  text-align: center;
  row-gap: 30px;
}
.banner-content img {
  width: 100%;
  border-radius: 8px;
}
.banner-content .banner-title h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0;
}
.banner-container .banner-title p {
  margin: 0;
  padding: 10px;
}

/* -------------Features Quick List section ----------*/
.features-quick-list {
  padding: 85px 0;
}
.feature-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  width: 30%;
}
.feature-description {
  width: 30%;
}

.feature-content .feature-images img {
  width: 100%;
  border-radius: 5px;
}
.feature-content .feature-description h1 {
  font-weight: 500;
  font-size: 45px;
}

/* ----------Features container section----------- */
.features-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
}

.features-love-enjoy {
  width: 39%;
}
.features-container h2 {
  font-weight: 700;
  font-size: 39px;
  padding-left: 10px;
}
.verticalLine {
  border-left: thick solid #ff900e;
}
.features-architect-image {
  width: 30%;
  padding-bottom: 42px;
}
.features-architect-image img {
  width: 100%;
}
.feature-experince {
  position: absolute;
  right: 28%;
  width: 16%;
  height: 25%;
  padding: 14px 14px;
  background: #ff900e;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  text-align: center;
}
.feature-experince h3 {
  font-weight: 700;
  font-size: 39px;
  margin: 0;
}
.feature-experince p {
  font-size: 20px;
  color: #ffffff;
}
